body {
    height: 100%;
    width: 100%;
    background: linear-gradient(#81B29A 20%, #3D405B 80%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #F4F1DE;
    text-shadow: 1px 1px black;
    display: block;
}

#note{
    display: inline-block;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 15px;
    padding: 10px 12px;
    background-color: #FFFFCC;
    border: 6px solid #FFEB3B;
    color: black;
    text-align: center;
    height: 180px;
    width: 300px;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }

/* The sidebar menu */
#sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    text-align: left;
}

.adviceClass {
    border: 2px 2px solid white;
}

#sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    size: 5em;
  }

#sidebar .closebtn a:hover {
    color: #f1f1f1;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}

#sidebar input:hover{
    color: #f1f1f1;
}

#advice {
    overflow: hidden;
    overflow-x: auto;
    overflow-y: auto;
}

#advice a {
    padding: 3em;
}

#footer {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    list-style-type: none;
    padding-bottom:1em;
    text-align: center;
  }

  @media screen and (max-height: 450px) {
    #sidebar {padding-top: 15px;}
    #sidebar {font-size: 18px;}
  }